@page "/players/{gameId:int}"
@using WhoKnowsGame.Services
@using WhoKnowsGame.Shared.Interfaces
@using WhoKnowsGame.Shared.Models

<h3>Players</h3>
@foreach (var player in Players)
{
    <div><img src="data:image;base64, @System.Convert.ToBase64String(player.Image.Image)" height="200" width="200"> @player.FullName</div>
}


@code {
    [Parameter] public int gameId { get; set; }
    [Inject] IGameService GameService { get; set; }
    private List<Player> Players { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Players = await GameService.GetPlayers(gameId);
    }
}
