@page "/dashboard/{gameId:int}"
@using Microsoft.AspNetCore.SignalR.Client
@using WhoKnowsGame.Shared.Interfaces
@using WhoKnowsGame.Shared.Models
@rendermode InteractiveAuto

@if(Game?.Status == 0){
    <FluentButton OnClick="StartGame">Start Game</FluentButton>
}

<h1>Players</h1>
@foreach (var player in Players)
{
    <div @key="player.Id">
        @* <img src="data:image;base64, @System.Convert.ToBase64String(player.Image.Image)" height="200" width="200"> *@
        @player.FullName</div>
}

@code {

    [Parameter] public int gameId { get; set; }

    [Inject] IGameService GameService { get; set; }
    [Inject] NavigationManager Navigation { get; set; }
    private Game Game { get; set; }

    private HubConnection? hubConnection;
    private List<Player> Players = [];

    protected override async Task OnInitializedAsync()
    {
        Game = await GameService.GetGame(gameId);
        Players = await GameService.GetPlayers(gameId);

        if (!IsConnected)
        {
            hubConnection = new HubConnectionBuilder()
                .WithUrl(Navigation.ToAbsoluteUri("/gamehub"))
                .Build();

            hubConnection.On<Player>("ReceiveNewPlayer", (player) =>
            {
                Players.Add(player);
                InvokeAsync(StateHasChanged);
            });
            hubConnection.On<Game>("ReceiveGameStarted", (game) =>
            {
                Game = game;
                InvokeAsync(StateHasChanged);
            });

            await hubConnection.StartAsync();
        }
    }

    private async Task StartGame()
    {
        await GameService.StartGame(gameId);
        if (hubConnection is not null) await hubConnection.SendAsync("ReportGameStarted", gameId);
    }

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null) await hubConnection.DisposeAsync();
    }
}
